<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Week One Rails Application</title>
=======
    <title>WeekOneRails</title>
>>>>>>> 762fada6f1130efdedbe7d4c6b18498497892e67
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
